/.phpunit.result.cache
/_old/
/_server/composer.lock
/_server/vendor/
/_server/private/composer.lock
/_server/private/vendor/
/_server/public/composer.lock
/_server/public/vendor/
/_unused/
/composer.lock
/logs/
/release/
/src/test/composer.lock
/src/test/vendor/
/swagger/composer.lock
/swagger/vendor/
/tests/composer.lock
/tests/vendor/
/vendor/
